[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quandl = "*"
pandas = "*"
yfinance = "*"
python-dotenv = "*"
numpy = "*"
requests = "*"
openpyxl = "*"

[dev-packages]
seaborn = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
